@import '_variables';
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('../lib/font-awesome/all.css');
@import '_mixins';

/*
@import 'commons/forms';

@import 'commons/select';
@import 'commons/slider';*/
// @import 'commons/checkbox';
// @import 'commons/input';
// @import 'commons/table';

// @import 'components/breadcrumb';
// @import 'components/account';

@import 'common';

.left-content {
    float: left;
    min-width: $left-content-width;
    background: $left-content-background;
    border-right: $left-content-border;
    height: 100vh;
}